@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .custom-toast {
    max-width: 500px !important;
  }
}
@media screen and (min-width: 1024px) {
  .custom-toast {
    max-width: 700px !important;
  }
}

.main-container {
  max-width: 1400px;
}

.slick-prev:before,
.slick-next:before {
  color: #324d67 !important;
  opacity: 0.75 !important;
  font-size: 34px !important;
}

@media screen and (min-width: 1024px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 44px !important;
  }
}

@media screen and (min-width: 1536px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 54px !important;
  }
}

.slider-recommend {
  display: flex !important;
}

.slider-recommend .slick-track {
  display: flex !important;
  align-items: stretch;
}
.slider-recommend .slick-list {
  padding: 1rem 0 !important;
}
@media screen and (min-width: 1024px) {
  .slider-recommend .slick-list {
    padding: 2rem 0 !important;
  }
}
.slider-recommend .slick-slide {
  height: auto !important;
  padding: 0 0.5rem;
}

@media screen and (min-width: 1024px) {
  .slider-recommend .slick-slide {
    padding: 0 0.6rem;
  }
}

@media screen and (min-width: 1536px) {
  .slider-recommend .slick-slide {
    padding: 0 0.7rem;
  }
}

.slider-recommend .slick-slide div,
.slider-recommend .slick-slide div div {
  height: 100%;
}

.slider-recommend .slick-arrow {
  position: unset;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}

@media screen and (min-width: 1024px) {
  .slider-recommend .slick-arrow {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 1536px) {
  .slider-recommend .slick-arrow {
    width: 5rem;
    height: 5rem;
  }
}

.slider-small .slick-slide {
  padding: 0 0.25rem;
  font-size: 0;
}

.slider-small .slick-track {
  margin-left: 0 !important;
}

@media screen and (min-width: 1024px) {
  .slider-small .slick-slide {
    padding: 0 0.5rem;
  }
}
.slider-small .slick-dots {
  position: unset;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}
